body {
  padding-top: 80px;
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

.myTopnav {
  float: right;
  padding: 20px 5px 0px 0px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover {
  color: green;
  background-color: #e7e7e7;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 20px;
}

.navbar a {
  font-size: 17px;
}

.navbar i {
  font-size: 30px;
  margin: 0;
  padding: 0px 5px 0px 5px;

}

.topmenu {
  background-color: #161957;
}
#bar {
  margin-top: 15px;
}

#home {
  padding: 15px;
  padding-bottom: 10px;
  margin-bottom: 5px;
}


.navbar-brand {
  height: 130px;
  width: 230px;
  padding-left: 100px;
  margin-left: 50px;
}

#subscribe {
  position: fixed;
  bottom: 0px;
  right: 100px;
}

.carouselimage{
  position:absolute;
  right:70%;
  bottom:20px;
  left:10%;
  z-index:10;
  padding-top:20px;
  padding-bottom:20px;
  color:#6ae8b3;
  text-align:left;
  text-shadow:0 1px 2px rgba(0,0,0,.6);
}

.part2 .carouselimage1 {
  text-align: center;
  color:#6ae8b3;
  right: 5%;
    opacity: 0.7;
    border-radius: 10px;
    padding: 20px;
  bottom:20%;
  left:50%;
  font-size: 300%;
  text-shadow:0 1px 2px rgba(0,0,0,.6);
  background-color: black;
}


.part2 .carouselimage2 {
  text-align: center;
  background-color: #6ae8b3;
  color: black;
  right:15%;
  bottom: 15%;
  left:60%;
  padding: 20px;
  opacity: 0.7;
  border-radius: 10px;
  font-size: 300%;
  text-shadow:0 1px 2px rgba(0,0,0,.6);
}

.part2 .carouselimage3 {
  text-align: right;
  font-family: sans-serif;
  color:#6ae8b3;
  background-color: black;
  right:20%;
  bottom:20%;
  opacity: 0.7;
  padding: 20px;
  border-radius: 10px;
  left:60%;
  font-size: 300%;
  text-shadow:0 1px 2px rgba(0,0,0,.6);
}

.part2 .carouselimage4 {
  text-align: center;
  color: #6ae8b3;
  right:50%;
  bottom:70%;
  left:10%;
  font-size: 320%;
  padding: 20px;
  border-radius: 10px;
  text-shadow:0 1px 2px rgba(0,0,0,.6);
  opacity: 0.7;
  background-color: black;

}

/*Nvest discription starts here*/

.description {
  text-align: center;
  text-shadow: 3px;
  font-size: 130%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.blockquote {
  quotes: "\201C""\201D""\2018""\2019";
  padding-left: 30px;
}

#quotesbox{
    overflow: hidden;
    margin-top: -50px;
    padding-top: -100px;
    border-radius: 17px;
    margin-top: 25px;
    color:white;
    width: 500px;
    box-shadow: 2px 2px 2px 2px #E0E0E0;
}

.blockquote .p {
  display: inline;
}

/*text carousel starts here*/

#text-carousel {
  width: 100%;
  height: 15%;
  background-color: #ace242;
  margin-top: 20px;

}

.textcarousel {
  margin-top: 10px;
  height: 350px;
}

.carousel-control {
  width: 30px;
  padding: 8%;
}

.carousel-content{
  background-color: #ace242;
  text-align: center;
  height: 75px;
  margin-top: 20px;
  font-size: 120%;
  width: 100%;
  color: black;
}

/*trading view starts here*/

#tradingview-copyright {
  padding-left: 50px;
}

/*banks starts here*/
.banks {
  background: url(../images/slidebar/exchange-traded-fund.jpg) no-repeat center top fixed;
  padding-top: 300px;
  padding-bottom: 300px;
}

.banks img {
  cursor:pointer;
  padding-right:50px;
  height:20%;
  width:20%;
}
/*footer starts here*/
.footer {
  padding: 20px;
  background-color: #161957;
  color: white;
}

.connect {
  text-align: center;
}

.copy {
  text-align: center;
  font-size: 14px;
}

.contact, .social {
  text-align: center;
}

.social .fa {
  padding-right: 10px;
}

.newemail {
  padding-right: 10px;
}

.phone {
  padding-right: 10px;
}

.loca {
  padding-right: 10px;
}

.copyright {
  margin-top: 20px;
}

/*about us page*/

#james {
  padding: 0 0 0 40px;
  color: #002159;
  font-size: 20px;
  margin-top: 20px;
}

#rhesa {
  padding: 0 0 0 20px;
  color: #002159;
  font-size: 20px;
  margin-top: 20px;
}

#mustapha {
  padding: 0 0 0 5px;
  color: #002159;
  font-size: 20px;
  margin-top: 20px;
}
#adjo {
  padding: 0 0 0 45px;
  color: #002159;
  font-size: 20px;
  margin-top: 20px;
}
.media-body {
  padding-top: 50px;
  text-align: justify;
}

/*FirstBanc*/
.all {
  /*background-image: url("../images/5b7e4174c82db26e5beedad2e6f3407d--powerpoint-presentation-background-cool-powerpoint.jpg");*/
  width: 100%;
  font-family: 'Roboto Slab', serif;
  font-size: 120%;
  background-repeat: no-repeat;
  background-size: cover;
}

.products img {
    width: 100%;
    height: 100%;
  }

#mutual {
  padding-left: 5px
}

#mutual:hover {
  transition: 2;
  transform: scale(1.1);
  overflow: hidden;
  opacity: 0.9;
}
#wealth:hover {
  transform: scale(1.1);
  overflow: hidden;
  opacity: 0.6;
}
#asset:hover {
  transform: scale(1.1);
  overflow: hidden;
  opacity: 0.9;
}
.products .col-md-3 {
  background-color: white;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  text-align: justify;
}
#logo {
  padding: 0px 0px 0px 20px;
  margin: 0;
  font-style: oblique;
  font-size: 200%;
  font-weight: bold;
  color: #6ae8b3;
  border-radius: 5px;
  margin: 30px 20px 20px 40px;
}
.history {
  padding: 20px 30px 0 20px;
  background-color: white;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  margin-top: 30px;
}
.part1 {
  margin: 40px 0 40px 15px;
  text-align: justify;
}
.rates {
  font-size: 15px;
  padding-right: 50px;
  margin-top: 15px;
}
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 18px;
  float: left;
  width: 100%;
  text-align: left;
  margin-bottom: 50px;
}
.rating>span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating>span:hover:before, .rating>span:hover~span:before {
  content: "\2605";
  position: absolute;
}

.name {
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 15px;
  width: 100%;
  background-color: lightgrey;
}
.email {
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 15px;
  width: 100%;
  background-color: lightgrey;
}
.body {
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 15px;
  width: 90%;
  float: left;
  background-color: lightgrey;
}
.submit {
  font-size: 20px;
  border-radius: 5px;
  width: 10%;
  background: none;
  border: none;
}
.addCommentContainer {
  padding: 15px;
}

/*Databank*/
.all {
  /*background-image: url("../images/5b7e4174c82db26e5beedad2e6f3407d--powerpoint-presentation-background-cool-powerpoint.jpg");*/
  width: 100%;
  font-family: 'Roboto Slab', serif;
  font-size: 120%;
  background-repeat: no-repeat;
  background-size: cover;
}

.products .col-md-4 {
  background-color: white;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  text-align: justify;
}

#ark:hover {
  transition: 2;
  transform: scale(1.1);
  overflow: hidden;
  opacity: 0.6;
}
#epack:hover {
  transform: scale(1.1);
  overflow: hidden;
  opacity: 0.6;
}
#edi:hover {
  transform: scale(1.1);
  overflow: hidden;
  opacity: 0.6;
}
#bfund:hover {
  transform: scale(1.1);
  overflow: hidden;
  opacity: 0.6;
}

.logo1 {
  padding: 20px 10px 20px 50px;
  /*background: white;*/

  border-radius: 5px;
  margin: 10px 20px 20px 60px;
  height: 200px;
  width: auto;
}
.history {
  padding: 20px 30px 0 20px;
  background-color: white;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  margin: 30px 0 0 20px;
}
.part1 {
  margin: 40px 0 40px 15px;
  text-align: justify;
}
.rates {
  font-size: 15px;
  padding-right: 50px;
  margin-top: 15px;
}
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 18px;
  float: left;
  width: 100%;
  text-align: left;
  margin-bottom: 50px;
}
.rating>span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating>span:hover:before, .rating>span:hover~span:before {
  content: "\2605";
  position: absolute;
}

.btn-info {
  margin-left: 35px;
  background-color: #337ab7;
}

/*CDH*/
.all {
  /*background-image: url("../images/5b7e4174c82db26e5beedad2e6f3407d--powerpoint-presentation-background-cool-powerpoint.jpg");*/

  width: 100%;
  font-family: 'Roboto Slab', serif;
  font-size: 120%;
  background-repeat: no-repeat;
  background-size: cover;
}
.productsA {
  padding: 40px 40px 40px 80px;
}
.productsA img {
  max-width: 100%;
  max-height: 100%;
}
#collective:hover {
  transition: 2;
  transform: scale(1.1);
  overflow: hidden;
  opacity: 0.6;
}
#asset:hover {
  transform: scale(1.1);
  overflow: hidden;
  opacity: 0.6;
}
.productsA .col-md-4 {
  background-color: white;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  text-align: justify;
}
.logo2 {
  padding: 20px 10px 0px 80px;
  border-radius: 5px;
  margin: 10px 0px 0px 40px;
  height: 200px;
  width: auto;
}
.history {
  padding: 20px 30px 10px 20px;
  background-color: white;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  margin: 30px 0 0px 0;
}
.part1 {
  margin: 40px 0 40px 15px;
  text-align: justify;
}
.rates {
  font-size: 15px;
  padding-right: 50px;
  margin-top: 15px;
}
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 18px;
  float: left;
  width: 100%;
  text-align: left;
  margin-bottom: 50px;
}
.rating>span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating>span:hover:before, .rating>span:hover~span:before {
  content: "\2605";
  position: absolute;
}

.btn-info {
  margin-left: 35px;
  background-color: #337ab7;
}

/*comparative-advantage-page*/
.jumbotron {
  margin: 40px 0 40px 0;
}
.list {
  padding: 0 0 0 60px;
}
#instructions {
  margin: 0px 0 20px 0;
  padding: 0 0 0 60px;
}
.compare .description h4 {
  color: white;
}
.modal-header {
  background-color: #d9534f;
  color: white;
}

  /* Slideshow container */

      .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
      }

      .mySlides {
        display: none;
      }
      /* Next & previous buttons */

      .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
      }
      /* Position the "next button" to the right */

      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }
      /* On hover, add a black background color with a little bit see-through */

      .prev:hover, .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }
      /* Caption text */

      .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
      }
      /* Number text (1/3 etc) */

      .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
      }
      /* The dots/bullets/indicators */

      .dot {
        cursor: pointer;
        height: 13px;
        width: 13px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }

      .active, .dot:hover {
        background-color: #717171;
      }
      /* Fading animation */

      .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }

      @-webkit-keyframes fade {
        from {
          opacity: .4
        }
        to {
          opacity: 1
        }
      }

      @keyframes fade {
        from {
          opacity: .4
        }
        to {
          opacity: 1
        }
      }
      /*About-us page*/

      .about {
        padding-top: 20px;
      }

      .picture-text1 {
        width: 100%;
        height: 300px;
        padding: 30px 0 0 150px;
      }

      .picture1 {
        float: left;
        width: 30%;
        padding: 20px 0 0 60px;
      }

      .img-circle {
        border-radius: 50%;
        /*border: 3px solid #002159;*/
      }

      #james {
        padding: 0 0 0 55px;
        color: #002159;
        font-size: 20px;
      }

      .text1 {
        width: 90%;
        color: #002159;
        position: relative;
        padding: 40px 0 0 0;
        text-align: left;
        font-size: 18px;
      }

      .picture-text2 {
        width: 100%;
        height: 300px;
        padding: 30px 0px 0 150px;
      }

      .picture2 {
        float: right;
        width: 35%;
        padding: 0px 10px 0 10px;
        margin-top: -190px;
      }

      #rhesa {
        padding: 0 0 0 45px;
        color: #002159;
        font-size: 20px;
      }

      .text2 {
        width: 60%;
        color: #002159;
        position: relative;
        padding: 40px 0 0 0;
        text-align: right;
        font-size: 18px;
        margin-top: 10px;
      }

      #mustapha {
        padding: 0 0 0 15px;
        color: #002159;
        font-size: 20px;
      }

      #adjo {
        padding: 0 0 0 60px;
        color: #002159;
        font-size: 20px;
      }
      /*FirstBanc*/

      .all {
        /*background-image: url("../images/5b7e4174c82db26e5beedad2e6f3407d--powerpoint-presentation-background-cool-powerpoint.jpg");*/
        width: 100%;
        font-family: 'Roboto Slab', serif;
        font-size: 120%;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .products {
        padding: 40px 40px 40px 80px;
      }

      .products img {
        max-width: 100%;
        max-height: 100%;
      }

      #mutual {
        padding-left: 5px
      }

      #mutual:hover {
        transition: 2;
        transform: scale(1.1);
        overflow: hidden;
        opacity: 0.6;
      }

      #wealth:hover {
        transform: scale(1.1);
        overflow: hidden;
        opacity: 0.6;
      }

      #asset:hover {
        transform: scale(1.1);
        overflow: hidden;
        opacity: 0.6;
      }

      .products .col-md-3 {
        background-color: white;
        box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;
        margin: 5px;
        padding: 10px;
        text-align: justify;
      }

      .logo {
        padding: 20px 10px 20px 20px;
        background: white;
        border-radius: 5px;
        margin: 30px 20px 20px 40px;
      }

      .history {
        padding: 20px 30px 0 20px;
        background-color: white;
        box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;
        margin-top: 30px;
      }

      .part1 {
        margin: 40px 0 40px 15px;
        text-align: justify;
      }

      .rates {
        font-size: 15px;
        padding-right: 50px;
        margin-top: 15px;
      }

      .rating {
        unicode-bidi: bidi-override;
        direction: rtl;
        font-size: 18px;
        float: left;
        width: 100%;
        text-align: left;
        margin-bottom: 50px;
      }

      .rating>span {
        display: inline-block;
        position: relative;
        width: 1.1em;
      }

      .rating>span:hover:before, .rating>span:hover~span:before {
        content: "\2605";
        position: absolute;
      }

      /*#name {
        margin-bottom: 15px;
        border-radius: 5px;
        font-size: 15px;
        width: 250px;
        padding-left: 5px;
        background-color: lightgrey;
      }

      #email {
        margin-bottom: 15px;
        border-radius: 5px;
        font-size: 15px;
        width: 250px;
        padding-left: 5px;
        background-color: lightgrey;
      }

      #body {
        border-radius: 5px;
        font-size: 15px;
        width: 250px;
        padding-left: 5px;
        background-color: lightgrey;
      }

      #submit {
        font-size: 20px;
        border-radius: 5px;
        margin: 10px 40px 20px 0;
      }*/

      .btn-info {
        margin-left: 15px;
        background-color: #337ab7;
      }
      /*Databank*/

      .all {
        /*background-image: url("../images/5b7e4174c82db26e5beedad2e6f3407d--powerpoint-presentation-background-cool-powerpoint.jpg");*/
        width: 100%;
        font-family: 'Roboto Slab', serif;
        font-size: 120%;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .productsA {
        padding: 40px 40px 40px 80px;
      }

      .productsB {
        padding: 40px 40px 40px 80px;
      }

      .productsA img {
        max-width: 100%;
        max-height: 100%;
      }

      .productsB img {
        max-width: 100%;
        max-height: 100%;
      }

      #ark:hover {
        transition: 2;
        transform: scale(1.1);
        overflow: hidden;
        opacity: 0.6;
      }

      #epack:hover {
        transform: scale(1.1);
        overflow: hidden;
        opacity: 0.6;
      }

      #edi:hover {
        transform: scale(1.1);
        overflow: hidden;
        opacity: 0.6;
      }

      #bfund:hover {
        transform: scale(1.1);
        overflow: hidden;
        opacity: 0.6;
      }

      .productsA .col-md-4 {
        background-color: white;
        box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;
        margin: 5px;
        padding: 10px;
        text-align: justify;
      }

      .productsB .col-md-4 {
        background-color: white;
        box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;
        margin: 5px;
        padding: 10px;
        text-align: justify;
      }

      .logo1 {
        padding: 20px 10px 20px 50px;
        /*background: white;*/
        border-radius: 5px;
        margin: 10px 20px 20px 40px;
        height: 200px;
        width: auto;
      }

      .history {
        padding: 20px 30px 0 20px;
        background-color: white;
        box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;
        margin-top: 30px;
      }

      .part1 {
        margin: 40px 0 40px 15px;
        text-align: justify;
      }

      .rates {
        font-size: 15px;
        padding-right: 50px;
        margin-top: 15px;
      }

      .rating {
        unicode-bidi: bidi-override;
        direction: rtl;
        font-size: 18px;
        float: left;
        width: 100%;
        text-align: left;
        margin-bottom: 50px;
      }

      .rating>span {
        display: inline-block;
        position: relative;
        width: 1.1em;
      }

      .rating>span:hover:before, .rating>span:hover~span:before {
        content: "\2605";
        position: absolute;
      }

      .btn-info {
        margin-left: 35px;
        background-color: #337ab7;
      }
      /*CDH*/

      .all {
        /*background-image: url("../images/5b7e4174c82db26e5beedad2e6f3407d--powerpoint-presentation-background-cool-powerpoint.jpg");*/
        width: 100%;
        font-family: 'Roboto Slab', serif;
        font-size: 120%;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .productsA {
        padding: 40px 40px 40px 80px;
      }

      .productsA img {
        max-width: 100%;
        max-height: 100%;
      }

      #collective:hover {
        transition: 2;
        transform: scale(1.1);
        overflow: hidden;
        opacity: 0.6;
      }

      #asset:hover {
        transform: scale(1.1);
        overflow: hidden;
        opacity: 0.6;
      }

      .productsA .col-md-4 {
        background-color: white;
        box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;
        margin: 5px;
        padding: 10px;
        text-align: justify;
      }

      .logo2 {
        padding: 20px 10px 0px 70px;
        border-radius: 5px;
        margin: 10px 0px 0px 40px;
        height: 200px;
        width: auto;
      }

      .history {
        padding: 20px 30px 0 20px;
        background-color: white;
        box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;
        margin-top: 30px;
      }

      .part1 {
        margin: 40px 0 40px 15px;
        text-align: justify;
      }

      .rates {
        font-size: 15px;
        padding-right: 50px;
        margin-top: 15px;
      }

      .rating {
        unicode-bidi: bidi-override;
        direction: rtl;
        font-size: 18px;
        float: left;
        width: 100%;
        text-align: left;
        margin-bottom: 50px;
      }

      .rating>span {
        display: inline-block;
        position: relative;
        width: 1.1em;
      }

      .rating>span:hover:before, .rating>span:hover~span:before {
        content: "\2605";
        position: absolute;
      }

      .btn-info {
        margin-left: 35px;
        background-color: #337ab7;
      }
