body {
  padding-top: 80px;
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

.myTopnav {
  float: right;
  padding: 5px 100px 0px 0px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover {
  color: green;
  background-color: #e7e7e7;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 20px;
}

.navbar a {
  font-size: 17px;
}

.topmenu {
  background-color: #161957;
}

#logo {
  /*padding: 14px 30px;*/
  height: 80px;
  width: 150px;
}

#subscribe {
  position: fixed;
  bottom: 0px;
  right: 100px;
}


/*.topnav a:hover {
  background-color: #ddd;
  color: white;
}*/


/*.topnav .icon {
  display: none;
}*/


/*#rectangle {
  background-color: #161957;
}*/


/*@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }*/


/*.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }*/


}
#compareimg {
  bottom: 0;
  right: 1000px;
}
.item {
  display: none;
  position: relative;
  .transition(.1s ease-in-out left);
}
.part2 {
  margin-top: 20px;
}
.table {
  /*background-color: #6ae8b3;*/

  border-color: #ace242;
  border: 1px;
  /*width: 50%;*/

  overflow: hidden;
  /*float: left;*/

  width: 100%;
  padding-left: 20px;
  margin-left: 40px;
}
#topT {
  background-color: #ace242;
}
#ER {
  color: #002159;
}
.scope {
  background-color: #161957;
}
.part4 {
  /*float: right;*/

  width: 50%;
  padding-right: 20px;
  margin-right: 30px;
  height: 480px;
}

/*#chartContainer {
  padding: 100px 100px;
}*/

/*.body {
  background-color: #333333;
}*/
.carousel-content {
  color: black;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 40px;
}
#text-carousel {
  width: 480px;
  height: 280px;
  background-color: #ace242;
  margin-left: 50px;
}
.carousel-inner {
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 5px;
}
.col-xs-6 {
  width: 100%;
  margin-left: 0%;
  padding-top: 20px;
}
.contact {
  background: url(../images/slidebar/exchange-traded-fund.jpg) no-repeat center top fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 40%;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 30px;
}
.contact-area {
  background: rgba(79, 50, 68, .7);
  padding: 60px 40px 247px 40px;
  color: #fff;
  margin-top: 25px;
}
.contact-wrapper h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 26px;
  font-family: 'Poppins' sans-serif;
  font-weight: 600;
  margin-bottom: 50px;
}
.contact-address {
  background: rgba(55, 38, 57, 0.64);
  /*padding:60px 40px;*/
  /*font-size: 16px;*/

  margin-top: 25px;
  background: transparent;
  margin-bottom: 25px;
  float: left;
}
.contact-details {
  background: rgba(55, 38, 57, 0.64);
  padding: 60px 40px;
  color: #fff;
  margin-bottom: 25px;
  margin-top: 25px;
  text-align: left;
}
.contact-details h4 {
  margin-bottom: 25px;
}
.contact-details p {
  margin: 0 0 10px;
  color: #c3bec2;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  color: #fff;
  background: #002159;
}
.main-footer .social {
  margin-bottom: 10px;
}
.main-footer .social a {
  color: #c3bec2;
  font-size: 15px;
}
.main-footer .social a:hover {
  color: #ff2b4a;
}
.main-footer .social a i {
  border-right: 1px solid #c3bec2;
  padding: 0 10px 0 10px;
}
.main-footer .social a i.dribbble {
  border-right: 0;
}
.main-footer p {
  color: #c3bec2;
  font-size: 12px;
}
.footer {
  padding: 30px;
  background-color: #002159;
  color: white;
  overflow: hidden;
  height: 200px;
}
.social {
  text-align: left;
  float: right;
  font-size: 14px;
  color: white;
  padding-right: 330px;
  padding-top: 50px;
}
.fa-instagram {
  padding-right: 10px;
}
#copy {
  text-align: center;
  padding-top: 250px;
  font-size: 14px;
}
.contact {
  text-align: left;
  padding-left: 330px;
  float: left;
  font-size: 14px;
  color: white;
}
#email {
  padding-right: 20px;
}
#phone {
  padding-right: 20px;
}
#loca {
  padding-right: 20px;
}
#space {
  padding-left: 36px;
}
td {
  border: 1px solid #bbb;
}
=======.topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
#myTopnar {
  padding-left: 20px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
* {
  box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}
@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/*About-us page*/
.about {
  padding-top: 20px;
}
.picture-text1 {
  width: 100%;
  height: 300px;
  padding: 30px 0 0 150px;
}
.picture1 {
  float: left;
  width: 30%;
  padding: 20px 0 0 60px;
}
.img-circle {
  border-radius: 50%;
  /*border: 3px solid #002159;*/
}
#james {
  padding: 0 0 0 40px;
  color: #002159;
  font-size: 20px;
}
.text1 {
  width: 90%;
  color: #002159;
  position: relative;
  padding: 40px 0 0 0;
  text-align: left;
  font-size: 18px;
}
.picture-text2 {
  width: 100%;
  height: 300px;
  padding: 30px 0px 0 150px;
}
.picture2 {
  float: right;
  width: 35%;
  padding: 0px 10px 0 10px;
  margin-top: -190px;
}
#rhesa {
  padding: 0 0 0 20px;
  color: #002159;
  font-size: 20px;
}
.text2 {
  width: 60%;
  color: #002159;
  position: relative;
  padding: 40px 0 0 0;
  text-align: right;
  font-size: 18px;
  margin-top: 10px;
}
#mustapha {
  padding: 0 0 0 5px;
  color: #002159;
  font-size: 20px;
}
#adjo {
  padding: 0 0 0 45px;
  color: #002159;
  font-size: 20px;
}
.media-body {
  padding-top: 50px;
  text-align: justify;
}

/*FirstBanc*/
.all {
  /*background-image: url("../images/5b7e4174c82db26e5beedad2e6f3407d--powerpoint-presentation-background-cool-powerpoint.jpg");*/

  width: 100%;
  font-family: 'Roboto Slab', serif;
  font-size: 120%;
  background-repeat: no-repeat;
  background-size: cover;
}
.products {
  padding: 40px 40px 40px 80px;
}
.products img {
  max-width: 100%;
  max-height: 100%;
}
#mutual {
  padding-left: 5px
}
#mutual:hover {
  transition: 2;
  transform: scale(1.1);
  overflow: hidden;
  opacity: 0.6;
}
#wealth:hover {
  transform: scale(1.1);
  overflow: hidden;
  opacity: 0.6;
}
#asset:hover {
  transform: scale(1.1);
  overflow: hidden;
  opacity: 0.6;
}
.products .col-md-3 {
  background-color: white;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  text-align: justify;
}
.logo {
  padding: 20px 10px 20px 20px;
  background: white;
  border-radius: 5px;
  margin: 30px 20px 20px 40px;
}
.history {
  padding: 20px 30px 0 20px;
  background-color: white;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  margin-top: 30px;
}
.part1 {
  margin: 40px 0 40px 15px;
  text-align: justify;
}
.rates {
  font-size: 15px;
  padding-right: 50px;
  margin-top: 15px;
}
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 18px;
  float: left;
  width: 100%;
  text-align: left;
  margin-bottom: 50px;
}
.rating>span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating>span:hover:before, .rating>span:hover~span:before {
  content: "\2605";
  position: absolute;
}
#name {
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 15px;
  width: 250px;
  padding-left: 5px;
  background-color: lightgrey;
}
#email {
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 15px;
  width: 250px;
  padding-left: 5px;
  background-color: lightgrey;
}
#body {
  border-radius: 5px;
  font-size: 15px;
  width: 250px;
  padding-left: 5px;
  background-color: lightgrey;
}
#submit {
  font-size: 20px;
  border-radius: 5px;
  margin: 10px 40px 20px 0;
}
#addCommentContainer {
  padding: 15px;
}
.btn-info {
  margin-left: 15px;
  background-color: #337ab7;
}

/*Databank*/
.all {
  /*background-image: url("../images/5b7e4174c82db26e5beedad2e6f3407d--powerpoint-presentation-background-cool-powerpoint.jpg");*/

  width: 100%;
  font-family: 'Roboto Slab', serif;
  font-size: 120%;
  background-repeat: no-repeat;
  background-size: cover;
}
.productsA {
  padding: 40px 40px 40px 80px;
}
.productsB {
  padding: 40px 40px 40px 80px;
}
.productsA img {
  max-width: 100%;
  max-height: 100%;
}
.productsB img {
  max-width: 100%;
  max-height: 100%;
}
#ark:hover {
  transition: 2;
  transform: scale(1.1);
  overflow: hidden;
  opacity: 0.6;
}
#epack:hover {
  transform: scale(1.1);
  overflow: hidden;
  opacity: 0.6;
}
#edi:hover {
  transform: scale(1.1);
  overflow: hidden;
  opacity: 0.6;
}
#bfund:hover {
  transform: scale(1.1);
  overflow: hidden;
  opacity: 0.6;
}
.productsA .col-md-4 {
  background-color: white;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  text-align: justify;
}
.productsB .col-md-4 {
  background-color: white;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  text-align: justify;
}
.logo1 {
  padding: 20px 10px 20px 50px;
  /*background: white;*/

  border-radius: 5px;
  margin: 10px 20px 20px 40px;
  height: 200px;
  width: auto;
}
.history {
  padding: 20px 30px 0 20px;
  background-color: white;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  margin-top: 30px;
}
.part1 {
  margin: 40px 0 40px 15px;
  text-align: justify;
}
.rates {
  font-size: 15px;
  padding-right: 50px;
  margin-top: 15px;
}
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 18px;
  float: left;
  width: 100%;
  text-align: left;
  margin-bottom: 50px;
}
.rating>span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating>span:hover:before, .rating>span:hover~span:before {
  content: "\2605";
  position: absolute;
}
#name1 {
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 15px;
  width: 320px;
  padding-left: 5px;
  background-color: lightgrey;
}
#email1 {
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 15px;
  width: 320px;
  padding-left: 5px;
  background-color: lightgrey;
}
#body1 {
  border-radius: 5px;
  font-size: 15px;
  width: 320px;
  padding-left: 5px;
  background-color: lightgrey;
}
#submit1 {
  font-size: 20px;
  border-radius: 5px;
  margin-top: 10px;
}
#addCommentContainer1 {
  padding: 15px;
  margin-left: 20px;
}
.btn-info {
  margin-left: 35px;
  background-color: #337ab7;
}

/*CDH*/
.all {
  /*background-image: url("../images/5b7e4174c82db26e5beedad2e6f3407d--powerpoint-presentation-background-cool-powerpoint.jpg");*/

  width: 100%;
  font-family: 'Roboto Slab', serif;
  font-size: 120%;
  background-repeat: no-repeat;
  background-size: cover;
}
.productsA {
  padding: 40px 40px 40px 80px;
}
.productsA img {
  max-width: 100%;
  max-height: 100%;
}
#collective:hover {
  transition: 2;
  transform: scale(1.1);
  overflow: hidden;
  opacity: 0.6;
}
#asset:hover {
  transform: scale(1.1);
  overflow: hidden;
  opacity: 0.6;
}
.productsA .col-md-4 {
  background-color: white;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  text-align: justify;
}
.logo2 {
  padding: 20px 10px 0px 70px;
  border-radius: 5px;
  margin: 10px 0px 0px 40px;
  height: 200px;
  width: auto;
}
.history {
  padding: 20px 30px 0 20px;
  background-color: white;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  margin-top: 30px;
}
.part1 {
  margin: 40px 0 40px 15px;
  text-align: justify;
}
.rates {
  font-size: 15px;
  padding-right: 50px;
  margin-top: 15px;
}
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 18px;
  float: left;
  width: 100%;
  text-align: left;
  margin-bottom: 50px;
}
.rating>span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating>span:hover:before, .rating>span:hover~span:before {
  content: "\2605";
  position: absolute;
}
#name1 {
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 15px;
  width: 320px;
  padding-left: 5px;
  background-color: lightgrey;
}
#email1 {
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 15px;
  width: 320px;
  padding-left: 5px;
  background-color: lightgrey;
}
#body1 {
  border-radius: 5px;
  font-size: 15px;
  width: 320px;
  padding-left: 5px;
  background-color: lightgrey;
}
#submit1 {
  font-size: 20px;
  border-radius: 5px;
  margin-top: 10px;
}
#addCommentContainer1 {
  padding: 15px;
  margin-left: 20px;
}
.btn-info {
  margin-left: 35px;
  background-color: #337ab7;
}

/*comparative-advantage-page*/
.jumbotron {
  margin: 40px 0 40px 0;
}
.list {
  padding: 0 0 0 60px;
}
#instructions {
  margin: 0px 0 20px 0;
  padding: 0 0 0 60px;
}
.compare .description h4 {
  color: white;
}
>>>>>>>25b713c4fb82163616b170e287d32e27c9678d07
